@media (min-width: 1080px){
    .header-btn, .header-sub-menu{
        display: none;
    }
    
.intro-item{
    width: 50%;
}

::-webkit-scrollbar {
    width: 20px;
}
  
::-webkit-scrollbar-track {
     background-color: transparent;
}
  
::-webkit-scrollbar-thumb {
    background-color: #d6dee1;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}
  
::-webkit-scrollbar-thumb:hover {
    background-color: #a8bbbf;
}

.intro-content{
    padding: 70px 70px 20px 10%;
}

.intro-bg-shahow{
    border-bottom-left-radius: 180px;
}

.contact h2{
   width: 30%;
}

}

@media (max-width: 1080px){
    .header-menu{
        display: none;
    }

    .intro{
        flex-direction: column-reverse;
        text-align: center;
    }

    .intro-bg{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .intro-content{
        padding: 48px 24px;
    }

    .intro-btns{
        justify-content: space-between;

    }

    .intro-btn{
        width: 48%;
        margin: unset;
        font-size: 16px;
        padding: 12px 0;
    }

    .features-content-item{
        flex-direction: column;
    }

.features-menu{
    flex-direction: column;
}

.features-menu::after{
    display: none;
}

.features-menu-item::after{
    content: '';
    position: absolute;
    height: 1px;
    z-index: -1;
    width: 100%;
    bottom: 0;
    left: 0;
    background-color: var(--grayish-blue);
}

.features-content-text, .features-content-bg{
    width: 100%;
    text-align: center;
}

.features-content-text h2{
    font-size: 24px;
}
.features-content-text{
    padding-left: 0;
    margin-top: 100px;
}

.faq{
    padding: 32px;
}

.faq p{
    padding-left: unset;
    padding-right: unset;
}

}

@media (min-width: 500px) and (max-width: 1079px){
    .intro-content{
        padding-top: 80px;
    }
} 

@media (max-width: 500px){
    .header-sub-menu{
        padding-top: 40px;
    }

    .intro{
        padding-left: 6px;
        padding-right: 6px;
    }

    .intro-bg img{
        width: 100%;
        padding: 0 20px;
    }

    .intro-title{
        font-size: 32px;
    }

    .intro-text{
        font-size: 16px;
    }

    .faq-content.show-ques .faq-answer{
        padding-top: 0;
    }

    .first-faq.show-ques .faq-answer{
        height: 150px;
    }
    
    .second-faq.show-ques .faq-answer{
        height: 280px;
    }
    
    .third-faq.show-ques .faq-answer{
        height: 195px;
    }
    
    .fourth-faq.show-ques .faq-answer{
        height: 150px;
    }

    .contact-form{
        flex-direction: column;
    }

    .contact-form button{
        width: 300px;
        margin: 32px 0 0; 
    }
}

@media (max-width: 915px){
.download-browsers{
    flex-direction: column;
}

.footer-content{
    flex-direction: column;
    align-items: center;
}

.footer-left{
    flex-direction: column;
}

.footer-link{
    margin: 15px 0;
}

.footer-link a{
    margin-left: unset;
}

.footer-logo{
    margin-bottom: 15px;
}

.footer-right{
    margin-top: 20px;
}
}